.projetos_titulo {
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-titulo);
    font-size: 64px;
    color: var(--azul-claro);
    padding: 3rem;
}

.projetos_titulo::after{
    content: "";
    width: 10rem;
    border: 1px solid var(--azul-claro);
    margin-top: 1rem;
}

.projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 3rem 0;
}