.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    height: 10vh;
    padding: 0 5rem;
    background-color: var(--azul-forte);
}

.nav_logo{
    width: 3rem;
    padding-bottom: .3rem;
}

.menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.menu__app{
    display: none;
}

.menu__icone{
    color: var(--branco);
}

.nav_link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.nav_item{
    font-weight: bold;
    color: white;
}

@media (max-width: 850px) {
    
    .menu__principal{
        display: none;
    }

    .menu__app{
        display: block;
    }
}