.sobre{
    background-color: var(--azul-forte);
    padding: 3rem 0 0 0;
}

.sobre_titulo{
    font-size: 64px;
    font-family: var(--fonte-titulo);
    text-align: center;
    margin-bottom: 4rem;
    color: var(--branco);
}

.sobre_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--azul-claro);
}

.sobre_texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sobre_conteudo{
    font-size: 18px;
    line-height: 1.5rem;
    color: var(--branco);
}

.sobre_tec{
    background-color: var(--branco);
    width: 35%;
    height: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tec_titulo{
    margin-bottom: 2rem;
    font-size: 32px;
    font-family: var(--fonte-titulo);
    color: var(--azul-claro);
}

.tec_icons{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 70%;
    margin: auto;
    padding: 1rem;
    border-left: 2px solid var(--azul-claro);
}

.icons_group{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.icons_img{
    width: 3rem;
}

.list {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 1rem;
    padding: 3rem 0;
}

.list__conteudo {
    width: 25%;
    height: 35vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list__conteudo-titulo {
    padding-bottom: 1rem;
    font-size: 20px;
    color: var(--branco);
}

.list__conteudo-item1, .list__conteudo-item2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--preto);
}

.list__conteudo-item3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    color: var(--preto);
}

span{
    color: var(--azul-claro);
}

@media (max-width: 840px){

    .sobre_info{
        display: flex;
        flex-direction: column;
        padding: 0 0 3rem 0;
        gap: 2rem;
    }

    .sobre_texto{
        width: 80%;
    }

    .sobre_tec{
        width: 100%;
    }

    .tec_icons{
        border: none;
    }

}

@media (max-width: 650px){
    .tec_titulo{
        font-size: 26px;
    }

    .list{
        display: flex;
        flex-direction: column;
    }

    .list__conteudo{
        width: 100%;
        height: 100%;
        padding-bottom: 4rem;
    }

    .list__conteudo-item3{
        flex-direction: row;
        flex-wrap: wrap;
    }
}